<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @cliente.endereco %>
</p>

<p>
  <b>Cpf:</b>
  <%= @cliente.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @cliente.rg %>
</p>

<p>
  <b>Nascimento:</b>
  <%= @cliente.nascimento %>
</p>

<p>
  <b>Observacoes:</b>
  <%= @cliente.observacoes %>
</p>

<p>
  <b>Usuario:</b>
  <%= @cliente.usuario_id %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
